# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:3000,http://localhost:9000" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

MONGO_INITDB_DATABASE=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGODB_DB=
MONGODB_USER=
MONGODB_PASSWORD=

# mongodb://[username:password@]host[/[defaultauthdb][?options]]
MONGODB_CONNECTION_STRING=mongodb://root:root@localhost:27017/
SESSION_SECRET="fc761054-4ac6-4888-9692-597f9cabe71b"
SESSION_SECURE=false
SESSION_HTTP_ONLY=false
